<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="content-language" content="ko">
<meta name="language" content="ko">
<meta property="og:url" content="http://test.tst">
<meta property="og:title" content="타이틀">
<meta property="og:type" content="website">
<meta property="og:description" content="테스트 홈피.">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="Author" content="">
<meta name="copyright" content="(c)2021">
<meta name="Robots" content="ALL">
<meta name="keywords" content="키워드">
<meta name="description" content="설명">
<title></title>

<link rel="stylesheet" type="text/css" href="../css/common.css">
<script type="text/javascript" id="wiget" src="../as/load_as.js" async=""></script>


<script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>

<script type="text/javascript" src="../lib/LDebug.js"></script>


<script type="text/javascript">


// json Data binding

// for  객체이름 변경
// DataBinder
const DBinder = (()=>{
	
	//const doc_ = document;
	//const eId_ = document.getElementById;		//document가 생성되기전에 호출됨

	const testCount_ = 10;
	
		
	function tagBind_(id, data){	// id: div id=
		L_(" id:" + id);
		let d = document.getElementById(id);
		let c = d.childNodes||null;
		if(c != null){
			for(let i=0;i<c.length;i++){
				searchDataFor_(i, d.childNodes[i], 0, data);  // idx, obj, level
			}
		}
	}
	
	
	// test
	let dataObj = {aaa: "AAAA", bbb: "bbbb", ccc: "cccc", ddd: "dddd"};

	//
	function nodeInfo_(idx, node, level){
		
		L_( node.nodeName );
		if(node.nodeName == "#text"){
			
			return;
		}
		L_("{level:" + level + " idx::" + idx + " nodeType:" + node.nodeType + " tagName:" + node.tagName);
		L_(node);
		L_("  attr bind:" + node.getAttribute("data-bind")||null);
		L_("  attr data-for:" + node.getAttribute("data-for")||null);
		L_("}");
		
	}


	// attr 중 data-for 를 갯수만큼 생성 해주는 기능
	// 1. data-bind-for 갯수만큼 앞에추가
	// 2. 복사대상은 마지막에 제거
	function searchDataFor_(idx, node, level, data){
			
		//
		//nodeInfo_(idx, node, level);
		
		// do action
		if(node.nodeName == "#text"){
			return;
		}	
			

		if(node.hasAttribute("data-bind-for")){

			// data-for //접근불가
			let forData = node.getAttribute("data-bind-for");
			L_(forData);


			node.removeAttribute("data-bind-for");
			node.removeAttribute("data-bind-for");
			
			
			let newNode = null;
			
			// 생성
			for(let ii=0;ii<5;ii++){		//test
				newNode = node.cloneNode(true);  // deep copy
				newNode.removeAttribute("id");
				newNode.removeAttribute("name");

				newNode.removeAttribute("data-bind-for");		//
				newNode.setAttribute("data-bind-idx", ii);
				newNode.setAttribute("data-bind-item", dataObj);  //obj 들어갈수 있는가??? - 안됨.

				node.parentNode.insertBefore(newNode, node);		// 바로앞에 추가	
			}

			node.remove();
		}

		
		if(node.hasChildNodes()){  // has Child가 있으면
			let level_ = level+1;
			for(let j=0;j<node.childNodes.length;j++){
				searchDataFor_(j, node.childNodes[j], level_, data);
			}
		}
		
	}



	return {
	
		tagBind: function(id, data){
			
			//
			tagBind_(id, data);
		}		
	}


})();

// Bind comp end



const doc_ = document;

function ID(id){
	if(id===undefined || id==""){
		return null;
	}
	return document.getElementById(id)||null;
}
//
document.addEventListener("DOMContentLoaded", function(){  //$(document).ready() 동일한 기능
	L_("Load...");
	
	loadDebug();	


	//
	function loadDebug(){
		
		btnTest("[data-for생성]", (e)=>{
			L_("{{{");
			DBinder.tagBind("addDiv", {});
		});

		btnTest("[getData]", (e)=>{
			let item = $("#addDiv > div > span:nth-child(1)");
			L_(item);
			let data = $(item).attr("data-bind-item");
			L_(data);

			let r = {aa:"aaaa"};
			L_(r
			);

		});


		let count = 0;
		btnTest("[div]중간생성", (e)=>{
			//let doc_ = document.getElementById;  // 접근불가 ?

			L_(doc_.getElementById);

			let middle = doc_.getElementById("middle");

			let node = middle;
			L_(node);

			//같은형태 만들기
			let newNode = node.cloneNode(true);
			node.append(newNode); //
			newNode.removeAttribute("id");		// attribute 속성부분을 옮겨갈수 있음.
			newNode.innerHTML = "<span>{{" + count + "}}</span>";
			++count;
			//

		});

		
		//insertBefore,  insertAfter
		let rCount = 0;
		btnTest("[같은레벨 앞에추가]", (e)=>{
			//let doc_ = document.getElementById;  // 접근불가 ?

			L_(doc_.getElementById);

			let middle = doc_.getElementById("middle");

			let node = middle;
			L_(node);

			//같은형태 만들기
			let newNode = node.cloneNode(true);
			newNode.removeAttribute("id");		//id제거  attribute 속성부분을 옮겨갈수 있음. 

			
			newNode.innerHTML = "<span>{{" + rCount + "}}</span>";
			++rCount;

			//
			let parent = node.parentNode;
			//parent.insertAfter(newNode, node);  // (new, preSibling) insertAfter 함수 없음
			parent.insertBefore(newNode, node);

		});



		//
		btnTest("[jsonData]Bind", (e)=>{
			//
			let jData = {name:"AAAA", age:10, value:1203333, info:"한글", rVar:12.3456 };
			
			let dNode = ID("test");

			dNode.setAttribute("var", jData.value);
			dNode.setAttribute("info", jData.info);

				
			L_(dNode);
			// data-bind
			let text = dNode.innerHTML;
			L_(text);	
			let textContent = dNode.textContent;
			L_(textContent);

			
		});



		btnTest("dataMethodCall", (e)=>{

			// https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Operators/typeof
			// typeof 확인
			function paramType(s){
				if(typeof s ==='string'){
					return "'" + s + "'";
				}

				return s;
			}

			let text = " {{ number + 1 + executeA(10) }}";  // 이런형식으로 변환 => "  rData.data.number + 1 + rData.methods.executeA( rData.data.numberStr )   "


			let rData = {
				data: {
					number : 1
					,next: 100
					, numberStr : "F10"		// string
				}
				,methods: {
					executeA: function(a){
						return a + a;	
					}

					, callF: function(){
						return "@callF@";
					}
				}
			}

			let exp = text.replace("{{", "");
			exp = exp.replace("}}", "");
			L_(exp);

			L_(" text 함수실행");
			let rr = (new Function( "return '" + rData.data.numberStr +  "' + " + rData.methods.executeA(10)  + " ;"))(); //string
			L_( "1 rr=" + rr );

			//
			rr = (new Function( "return " + rData.data.number +  " + " + rData.methods.executeA(10)  + " ;"))();	//number

			L_( "2 rr=" + rr );


			// 실행메소드 영역
			rr = (new Function( "return '" + rData.methods.executeA( rData.data.numberStr  ) + "' ;" ))();
			L_("3 rr=" + rr);


			//final
			// let expStr = " rData.data.number + 1 + rData.methods.executeA( rData.data.numberStr ); ";

			// text method 실행방법

			// var multiply = new Function('x', 'y', 'return x * y');
			// 
	
			
			let expStr = " L_(arguments) ; L_(arguments[0]);  return rData.data.number + 1 + rData.methods.executeA(rData.data.numberStr); ";
			
			// https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Functions
			// 실행파라미터 결정
			rr = (new Function( 'rData',  expStr ))(rData);  // ==>// (function anonymous(aaa,bbb){
			L_("@4 rr=" + rr );



		});
		


	}

});	


</script>


</head>


<body>


	<noscript>
	<iframe src="../include/ns.html?id=DateTime" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>


	<div id="wrap">
		<div id="_DEBUG_"></div>
	<div>

	<hr/>

	<hr/>

	<div id="addDiv">
		<div>
			[A][B]<span data-bind-for="data.code.list" href="#">{{T1}}</span>[C][D]
		</div>
	</div>

	<div>
		<div>first</div>
		<div id="middle">second</div> <!-- 10 개를 만들어야함 -->
		<div>3</div>
		<div>4</div>
		<div>5</div>
	</div>

	<div>
		<div>JSON data bind</div>
		<div id="test" data-bind-if=""  data-bind-on="" data-bind-idx="" data-bind-id="" data-bind-name="" data-bind-change=""  >
				{{name}} AAA
				<a href="#">[링크]</a>
				<div id="check" >내용입니다.{{name}} || {{value}}</div>

		</div>
	</div>




	<!-- json data -->
	<div>여기서 표시 되면 안됨</div>
	<div id="bind-tag">
		<div>
			

			<div> {{data.value}} </div>
			<div>{{number+1}}</div>
			<div>{{String}}</div>
			<div>{{method()}}</div>
			<div>{{methodNew( {{number+100}} )}}</div>


			<template>
				<div>01 AAAA</div>
				<div>02 AAAA</div>
				<div>03 AAAA</div>
				<div>04 AAAA</div>
			</template>

			
			
			<div v-if="number === 1" >

			</div>
			
			<div v-if-else="number === 2">

			</div>
			<div v-else >

			</div>
			


			<div v-show="bShow" >
			</div>



			<div id="" v-for="(item, index) in datas" :key="keyCode" >
				<div>
					<div>{{index}}  {{item.name}} {{item.age}} {{expressFunc(item.name, item.keyCode)}}</div>
				</div>	
			</div>


			<input type="text" v-bind:value="name"  />

			<input type="text" :="name" />

			<input type="text" :on="click" />

			<input type="text" :on-click="click" />

			<input type="text" @click="click" />


			<div :class="{bClass: bBool}" :style="{ red: rRed }"> </div>

		</div>
	</div>
	<!--// json data -->



	<hr/>


</body>
</html>